@import 'tailwindcss';
@plugin 'daisyui';

.btn-green {
	@apply bg-green-500 hover:bg-green-700 text-white;
}

html {
	scroll-behavior: smooth;
}
.indicator-item {
	transition : all ease-in-out 0.3s;
}

.added {
	@apply bg-green-600;
	animation : bounce 0.5s;
}