@import 'tailwindcss';
@plugin 'daisyui';

.btn-green {
	@apply bg-green-500 hover:bg-green-700 text-white;
}

html {
	scroll-behavior: smooth;
}
.indicator-item {
	transition : all ease-in-out 0.2s;
}

.added {
	@apply bg-green-600;
	animation : bounce 0.5s;
}


.hero, .fadeInUp {
	animation : fadeInUp 1.5s;
}

.main {
	@apply p-32 bg-base-200 text-center h-screen;
}